<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Demo 1 - Декларативный рендеринг</title>
</head>
<body>
  <div id="app">
    <div class="intro">{{name}} <span>{{date}}</span></div>
    <p v-show="seen" :title="hideTitle">{{ hideText }}</p>
    <input type="text" v-model="hideText">
    <p>Пунктов {{ todoCount }}</p>
    <ol>
      <li v-for="(todo, index) in todos">
        <a :href="todo.url" >
        {{ todo.text }}</a>
         <button @click="removeTodos(index)">X</button>
      </li>
    </ol>
    <button type="button" name="button" @click="newTodo">Add New Todo</button>
  </div>
  <script src="vue.js"></script>
  <script>
    var app = new Vue({
      el: '#app',
      data: {
        name: '#holyWar',
        date: '01/03/2017',
        seen: false,
        hideTitle: 'Титл',
        todos: [],
        hideText: 'Сейчас меня видно'
      },
      methods: {
        removeTodos: function(index) {
          this.todos.splice(index, 1);
        },
        newTodo: function(){
          this.todos.push({
            text: `Пункт ${this.todoCount + 1}`,
            url: '#'
          });
        }
      },
      computed:{
        todoCount: function() {
          return this.todos.length;
        }
      }
    });
  </script>
  <style media="screen">
    .intro{
      background: yellow;
      font-size: 20px;
    }
  </style>
</body>
</html>
