.pic_omg{
  width: 70%;
  margin: 5% 15%;
}
.slide_collectors{
  display: flex;
}
.slide_collectors > div{
  flex-grow: 1;
  text-align: center;
}
.slide_collectors > div img{
  height: 200px;
}
.slide_collectors > div p{
  font-size: 40px;
}

._green{
  color: #33cc33;
}

.slide_postcss{
  background-image: url('pictures/postcss_logo.svg'), url('pictures/em-logo.svg');
  background-position: right 50px top 50px, right 50px bottom 50px;
  background-size: 200px, 200px;
  background-repeat: no-repeat, no-repeat;
}
.slide_apref{
  background-image: url('pictures/ap-logo.svg'), url('pictures/em-logo.svg');
  background-position: right 50px top 50px, right 50px bottom 50px;
  background-size: 200px, 200px;
  background-repeat: no-repeat, no-repeat;
}
